*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 95%;
    margin: 0 auto;
    

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: white;

    & .logo{
        width: 10%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        /* justify-content: center; */
    }

    & .search{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: 10px;
        
        & input{
            width: 100%;
            height: 30px;
            font-size: large;

        }
        & i{
            position: absolute;
            top: 1;
            left: 0;
            color: #7588b8;
        }
    }

    & .nav {
        margin-right: 20px;
        display: flex;
        gap: 20px;
        width: 40%;
        justify-content: space-between;

        & div{
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 16px;
            font-weight: 100;
            font-family: 'Courier New', Courier, monospace;
        }

    }

}


.navbar-2{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    height: 120px;
    background-color: #ffff;
    align-items: center;

}

/* .banner img {
    width: 100%;
} */
.banner {
    margin-top: 10px;

    & img{
        width: 100%;
        height: auto;
    }
}

.section-1{
    margin-top: 10px;
    background-color: #ffff;
    height: auto;
    display: flex;
    & .product-container{
        width: 80%;
        height: 250px;
        & .product-data{
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* overflow-x: auto; */
            & .product-card{
                border: 1px solid green;
                width: 200px;
                /* height: ; */
                & img{
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }
    & .ads-1{
        width: 20%;

        & img {
            width: 100%;
            height: 100%;
        }


    }
}

.g-prod{
    display: grid;
    width: 40%;
    gap: 10px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);

    & .item{
        display: flex;
        align-items: center;
        justify-content: center;

        & img{
            border: 0.5px solid gray;
        }
    }

}


body{
    background-color: #f2f3f5;
}